<div class="new-invoice-container">
  <h2>Nieuwe Factuur</h2>

  <!-- Voeg een form tag toe om het formulier te omsluiten en ngSubmit toe te passen -->
  <form (ngSubmit)="onSubmit()" #invoiceForm="ngForm">

    <!-- Klant Selectie -->
    <div class="form-group">
      <label for="customerId">Klant</label>
      <select id="customerId" required [(ngModel)]="selectedCustomerId" name="customerId" (change)="onCustomerChange()" class="form-control">
        <option *ngFor="let customer of customers" [value]="customer.customer_id">{{ customer.name }}</option>
      </select>
    </div>

    <!-- Klant Gegevens -->
    <div *ngIf="selectedCustomer">
      <h3>Klantgegevens</h3>
      <p><strong>Naam:</strong> {{ selectedCustomer.name }}</p>
      <p><strong>Bedrijf:</strong> {{ selectedCustomer.company }}</p>
      <p><strong>Adres:</strong> {{ selectedCustomer.address }}</p>
      <p><strong>Email:</strong> {{ selectedCustomer.email }}</p>
      <p><strong>Telefoon:</strong> {{ selectedCustomer.phone }}</p>
    </div>

    <div *ngIf="cars.length > 0" class="form-group">
      <label for="carId">Selecteer Auto</label>
      <select id="carId" required [(ngModel)]="selectedCarId" name="carId" (change)="onCarChange()" class="form-control">
        <option *ngFor="let car of cars" [value]="car.car_id">
          {{ car.plate_number }} - {{ car.brand }} {{ car.model }} ({{ car.year }})
        </option>
      </select>
    </div>
    <!-- Auto Details -->
    <div *ngIf="selectedCar && cars.length > 0">
      <h3>Auto Gegevens</h3>
      <p><strong>Kenteken:</strong> {{ selectedCar.plate_number }}</p>
      <p><strong>Merk:</strong> {{ selectedCar.brand }}</p>
      <p><strong>Model:</strong> {{ selectedCar.model }}</p>
      <p><strong>Bouwjaar:</strong> {{ selectedCar.year }}</p>
    </div>

    <div *ngIf="cars.length === 0">
      <p>Geen auto's beschikbaar voor deze klant.</p>
    </div>

    <!-- Diensten/Producten -->
    <section class="invoice-items">
      <h3>Diensten/Producten</h3>
      <div *ngFor="let item of invoiceItems; let i = index" class="item">
        <!-- Productgegevens en BTW -->
        <div class="item-field">
          <label for="productSelect{{i}}">Product:</label>
          <select id="productSelect{{i}}" [(ngModel)]="item.product_id" name="product{{i}}" (change)="onProductChange(item)">
          <option value="" disabled selected>Kies een product</option>
            <option *ngFor="let product of products" [value]="product.product_id">{{ product.name }}</option>
          </select>
        </div>
        <div class="item-field">
          <label for="quantity{{i}}">Aantal:</label>

          <input id="quantity{{i}}" type="number" [(ngModel)]="item.quantity" name="quantity{{i}}" (input)="calculateTotals()" />
        </div>
        <div class="item-field">
          <label for="btw{{i}}">BTW:</label>
          <input id="btw{{i}}" type="number" [(ngModel)]="item.btw" name="btw{{i}}" readonly />
        </div>
        <div class="item-field">
          <label for="unitPrice{{i}}">Eenheidsprijs (€):</label>
          <input id="unitPrice{{i}}" type="number" [(ngModel)]="item.unit_price" name="unitPrice{{i}}" readonly />
        </div>
        <div class="item-field">
          <label class="totals" for="totals">Totaal (€):</label>
          <span class="totals" id="totals">{{ item.total | currency:'EUR' }}</span>
        </div>
        <button type="button" (click)="removeItem(i)" class="button-danger">Verwijder</button>
      </div>
      <button type="button" (click)="addItem()">Voeg Item Toe</button>
    </section>

    <!-- BTW Totaal -->
    <div *ngIf="totalBtwAmount > 0">
      <h3>BTW Bedrag</h3>
      <p>Totaal BTW: {{ totalBtwAmount | currency:'EUR' }}</p>
    </div>

    <!-- Totaalbedrag -->
    <div class="form-group">
      <label for="totalAmount">Totaalbedrag</label>
      <input type="number" id="totalAmount" [(ngModel)]="invoice.total_amount" name="totalAmount" class="form-control" readonly>
    </div>

    <!-- Status -->
    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" required [(ngModel)]="invoice.status" name="status" class="form-control">
        <option value="Betaald">Betaald</option>
        <option value="Open">Niet Betaald</option>
      </select>
    </div>

    <!-- Verzendknop -->
    <button type="submit" class="btn btn-primary">Factuur aanmaken</button>

  </form> <!-- Sluit het form element af -->
</div>
