<div class="add-product-container">
  <h3>Nieuw Product Toevoegen</h3>
  <form (ngSubmit)="addProduct()">
    <div>
      <label for="name">Naam:</label>
      <input id="name" [(ngModel)]="newProduct.name" name="name" required />
    </div>
    <div>
      <label for="description">Beschrijving:</label>
      <input id="description" [(ngModel)]="newProduct.description" name="description" required />
    </div>
    <div>
      <label for="price">Prijs (€):</label>
      <input id="price" type="number" [(ngModel)]="newProduct.price" name="price" required />
    </div>
    <div>
      <label for="btw">BTW (%):</label>
      <select id="btw" class="BTW-selection" [(ngModel)]="newProduct.btw" name="btw" required>
        <option value="0">0</option>
        <option value="9">9</option>
        <option value="21">21</option>
      </select>
    </div>
    <div>
      <label for="quantity">Aantal:</label>
      <input id="quantity" type="number" [(ngModel)]="newProduct.quantity" name="quantity" required />
    </div>
    <button type="submit">Product Toevoegen</button>
  </form>
</div>
